<html>
  <body>
    <a th:href="@{/office}">Back</a>
    <form th:action="@{/office/save}" th:object="${officeDTO}" method="post">
      <div>
        <input th:field="*{officeId}" type="hidden" />
      </div>
      <div>
        <label>Name</label>
        <input th:field="*{officeName}" type="text" />
      </div>
      <div>
        <label>Alamat</label>
        <select th:field="*{locationId}">
          <option value="" selected>--Pilih Alamat--</option>
          <option
            th:each="location : ${locations}"
            th:value="${location.location_id}"
            th:text="${location.address}"
          ></option>
        </select>
      </div>
      <button type="submit">save</button>
    </form>
  </body>
</html>
