<html>
  <body>
    <form
      th:action="@{/department/save}"
      th:object="${departmentDTO}"
      method="post"
    >
      <div>
        <label>Name</label>
        <input th:field="*{departmentName}" type="text" />
      </div>
      <div>
        <label>Office</label>
        <select th:field="*{officeId}">
          <option value="" selected>--Pilih Office--</option>
          <option
            th:each="office : ${offices}"
            th:value="${office.office_id}"
            th:text="${office.office_name}"
          ></option>
        </select>
      </div>
      <button type="submit">save</button>
    </form>
  </body>
</html>
